# ==========================================
# Ganapraharee Monorepo
# ==========================================

# Node
node_modules/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Nuxt
.nuxt/
.output/
.nitro/
dist/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Runtime / temporary
*.tmp
*.temp

# Coverage
coverage/

# PHP
vendor/

# PHP environment
composer.phar

# Local uploads
uploads/
storage/

# Deployment secrets
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
